body {
  font-family: fantasy;
  color: black;
  background-color: #84310b
}
header {
  text-align: center;
  font-family: fantasy;
  color: black;
}
div {
  text-align: center;
}
h1 {
  text-align: center;
  color: #e91339;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
fieldset{
  padding-left: 20px;
}
input [type = "text"]{
  padding 7px;
  border: solid 5px #000;
  border-radius: 3px;
table {
  margin: auto;table-layout: auto;
  border-top-style: double;
  border-left-style: double;
  border-right-style: double;
  border-bottom-style: double;
}
td {
  border: solid 1px black;
}
form {
  margin-auto;
  border-top-style: double;
  border-left-style: double;
  border-right-style: double;
  border-bottom-style: double;
}
footer {
  text-align: center;
}
