body {
  font-family: fantasy;
  color: black;
  background-color: #84310b
}
header {
  text-align: center;
  font-family: fantasy;
  color: black;
}
div {
  text-align: center;
  font-size: 20px;
}
section {
  text-align: center;
  font-size: 25px
}
h1 {
  text-align: center;
  color: #e91339;
}
h2 {
  text-align: left;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
  font-size: 18px;
}
h5 {
  text-align: left;
  font-size: 24px;
}
fieldset{
  padding-left: 20px;
}
input [type = "text"]{
  padding 7px;
  border: solid 5px #000;
  border-radius: 8px;
}
table {
  width: 1000px;
  height: 400px;
  margin: auto;table-layout: auto;
  border-top-style: double;
  border-left-style: double;
  border-right-style: double;
  border-bottom-style: double;
}
td {
  border: solid 1px black;
}
form {
  margin-auto;
  border-top-style: double;
  border-left-style: double;
  border-right-style: double;
  border-bottom-style: double;
}
footer {
  text-align: center;
}
